/*title--------------------------------*/
h1 {
	text-align: center;
	margin-bottom: 35px;
}

/*form---------------------------------*/
.label {
  font-weight: bold;
}

.create-form {
	margin-top: 75px;
}

/*coluumns-----------------------------*/
.mainContainer {
	width: 960px;
	margin: 0 auto;
}

.leftCollumn,
.rightCollumn {
	float: left;
	width: 48%;
    text-align: center;
    margin: 1%;
}

#burgerPic,
#devouredPic {
	width: 50%;
}

.collection {
	margin-top: 20px;
}