<li>
	{{id}}. {{burger_name}}

	{{#unless devoured}}
		<button class="change-devoured" data-id="{{id}}" data-newsleep="{{sleep}}">
			<img id="devouredButtonPic" src="/assets/images/devoured.png">eat!
		</button>
	{{/unless}}

</li>
