<li class="collection-item">

	{{id}}. {{burger_name}}


	{{#unless devoured}}
	
		<a class="change-devoured  secondary-content" data-id="{{id}}">
			<i class="material-icons">eat!</i>				
		</a>

	{{/unless}}

</li>
